.container{
    text-align:center;
}
.container h6{
    color:purple;
}
.area{
    width:500px;
}
a{  
    
    padding:6px;
    text-decoration:none !important;
    color: white !important;
    background-color: var(--dark);
}
a:hover{
    background-color:white;
    color:black !important;
    
}
a .navbar-brand{
    font-family: RoadTest;
    color:#000000;
}
#navbar-nav{
    text-align: right;
}

i{ 
    padding-top:2px;
    color: white;
}
.social{
    padding-bottom:20px;
}
section{
    padding-top:20px;
    justify-content:center;
    
    align-items:center;
    min-height:50vh;
   text-align: center;
    width:100%;
    color:white;
    background-color: black;
}
.frm{
    display:flex;
    flex-direction: row;
    align-content: center;

}
a:hover{
    background-color:black;
    color:white !important;
    
}
.frm .lbl{
    flex-flow: row;
}


