:root{
    --primary:#3DCFD3
    --dark:#161616
}
header{
    background: var(--dark);   
}
footer{
    background-color: black;
    text-align: center;
}
.f2{
    color:white;
    text-align: center;
}
.profile{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-0%);
    width:450px;
    display:flex;
    box-shadow: 0px 1px 20px rgba(69,90,100,0.08);
}
.profile .left{
    font-size:12px;
    width:85%;
    color:white;
    background: linear-gradient(to right,#161616, #161616);
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    text-align:center;
}
.profile .left img{
    margin-bottom:10px;
    border-radius:5px;
}
.profile .right{
    border:1px solid black;
    padding:30px 25px;
    width:65%;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;

}
.profile .right h3{
    font-size: 25px;
    border-bottom: 1px solid #161616;
    letter-spacing:5px;
}
.profile .left ul{
text-align: left;
font-size:12px;
}
a{  
    
    padding:6px;
    text-decoration:none !important;
    color: white !important;
    background-color: var(--dark);
}
a:hover{
    background-color:white;
    color:black !important;
    
}

a .navbar-brand{
    font-family: RoadTest;
    color:#000000;
}
#navbar-nav{
    text-align: right;
}

i{ 
    padding-top:2px;
    color: white;
}